[submodule "lib/ds-test"]
	path = lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "lib/solmate"]
	path = lib/solmate
	url = https://github.com/rari-capital/solmate
[submodule "lib/base64"]
	path = lib/base64
	url = https://github.com/Brechtpd/base64
[submodule "lib/StringUtils"]
	path = lib/StringUtils
	url = https://github.com/zac-williamson/StringUtils
